*{
	font-family: montserrat;
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(90deg, #f3fa29 0%, #088021 100%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.carousel-item img {
    filter: brightness(0.5);
}

.smallwindow {
    border: 1px solid black;
    border-radius: 1rem;
}
.content {
    border: 1px 0 solid #cccccc;
    font-size: small;
}
#tab-content {
    margin-top: 1rem;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

#textarea {
    display: flex;
    padding: 1rem;
    border: .5px solid #cccccc;
}

textarea {
    width: 87%;
    border: 2px solid #cccccc;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    margin-right: .75rem;
    padding: 1rem;
}

.postbutton {
    float: right;
    border: 2px solid #cccccc;
    border-radius: 2rem;
    width: 5rem;
    margin: 2rem auto;
    font-weight: bold;
    
}

.postbutton:hover {
    background-color: #aaaaaa;
}

#post {
    padding: 4px;
    padding-right: 1rem;
    font-size: 13px;
    display: flex;
    margin-bottom: 1rem;
}

.user_profile {
    margin-right: 1rem;
    padding: .5rem;
}

.user_name {
    margin-top: .5rem;
    font-weight: bold;
}
.below {
    display: block; 
    margin-top: 5px; 
}
.container{
	background: #ffffff ;
	padding: 20px;
	font-family: monospace;
	width: 1000px;
	box-shadow: 0 0 5px #0000;
	text-align: center;
}
.head{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.text{
	margin: 10px 0;
	font-family: sans-serif;
	font-size: 0.9em;
}

.commentbox{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
.commentbox > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20;
	object-fit: cover;
	object-position: center;
}
.commentimage{
	width: 50px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 50%; 
}
.content{
	width: 100%;
    flex-direction: column;
}
.user{
	border: none;
	outline: none;
	margin: 5px 0 ;
	color: #808080;
	margin-left: 20px;
	padding: 10px;
}

.commentinput > input {
	
	padding: 10px;
	padding-left: 0;
	outline: none;
	border: 2px solid blue;
	margin-bottom: 10px;
}
.commentinput {
    display: flex; /* Flexbox düzeni */
    align-items: center; /* Dikey merkezleme */
    justify-content: center; /* Yatay merkezleme */
    gap: 15px; /* Elemanlar arasında boşluk */
}

.commentinput select,
.commentinput textarea {
    width: 13%; /* İkisini de aynı genişlikte yap */
    padding: 10px; /* İç boşluk */
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none; /* Boyutlandırmayı kapat */
}
.card-text {
	display: none;
}
.buttons{
	display: inline;
	justify-content: space-between;
	align-items: center;
	color: #808080;
}
.buttons button {
	padding: 10px 30px;
	background: lightgrey;
	color: #808080;
	text-transform:uppercase;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
.buttons button.abled {
	background: blue;
	color: #fff;
}

.policy{
	margin: 20px 0;
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	color: #808080;
}
.notify{
	margin-right: 10px;
	align-items: center;
}
.notify > input{
	margin-right: 5px;
}
.section{
	color:#ffffff ;
}
.section-header{
	color: #171717;
}
.navbar-logo{
	height:60px;
}
header h1{
	margin-top: 80px;	
}
.navbar-nav a{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand{
	color: #b56d6d;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:hover{
	color: #b56d6d;
}
.section {
	text-align:center;
	margin-top: 20px;
}
header nav a:hover {
    color: #ffc107; 
}
.container-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	height:200px;

}
/*gardenplants*/
.section-padding{
	padding: 100px 0;
}
.carosuel-item{
	height: 100vh;
	min-height: 300px;
}
.d-block{
height:720px;
}
.carousel-caption{
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5{
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p{
	color: white;
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner::before{
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.btn-warning  {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ffc107;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;   
  transition: background-color 0.3s ease;
  max-width: 2000px; 
}
/*contact us*/
.section-header{
	color: #ffffff;
}	
.pb-3{
	color: black;
	font-family: montserrat;
}

.btn-custom{
   width: 100%; 
  padding: 15px;
  font-size: 18px;
  background-color: #ffc107;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;   
  transition: background-color 0.3s ease;
  max-width: 2000px; 
}

.btn-warning:hover {
  background-color: #e0a800;
}